$main-color:#f6b0ab;
 $secondary-color:#6f3c2e;


.login-icon{
    
    
    img{
                width:12%;
                // padding-bottom: %;
                
            }
        }
        .login-btn{
            background-color:$main-color;
            width:100%;
            margin-bottom: 2.5%;

        }
        .login-btn:hover{
            background-color:$secondary-color;
            color:white;
        }

        .CreatAcc-btn{
            background-color:$secondary-color;
            color:white;
            width:100%;
          

        }
        .CreatAcc-btn:hover{
            background-color:$main-color;

        }

        .forget-pass{
            text-decoration: none;
            color:$secondary-color;
            margin-top:3%;
            .forget-pass:hover{
                color:$secondary-color;


            }
        }
        .iput-icon{
            color:$secondary-color;
            // margin-right: 8px;
            border-right:0px !important;
          
            

        }
        .login-container{
            width:55%;
            // padding-top:0.7%;
            // padding-bottom:10%;

            height:80vh !important;
            form{
                padding: 1.2%;
                // border:2px solid rgb(243, 207, 207)
                box-shadow: 1px 1px 20px 0 rgba(223, 219, 219, 0.1), 1px 6px 20px 0 rgba(149, 144, 144, 0.12);

            }
            
        }
        .footer__copyrights-content{
            display:flex;
            justify-content:space-between;
            padding-top:-2%;
            color:rgb(86, 85, 85);
            max-width:100%;
            max-height:60vh;
            p{
                color:$secondary-color;
                a{
                    text-decoration: none;
                color:$secondary-color;
    
    
                }
            }
        
        }
       
       .input{
        // width: 2% !important;
        height:4%;
        background-color:rgba(160, 156, 156, 0.247);
        // outline-color:$main-color !important;
        border-radius: 4px !important;
       }

       .input:active,.input:focus{
        border-color: $main-color;
        box-shadow:none !important;

       }

       .facebook-icon,.twitter-icon{
       color: $secondary-color;
        font-size: 2rem;
        cursor: pointer;
    }
   