$main-color:#f6b0ab;
 $secondary-color:#6f3c2e;


.order-summary{
    border: 1px solid  $secondary-color;
    // padding: 2%;
    color:$secondary-color;
    h6{
        border-bottom: 1px solid $secondary-color;
        margin-top:1rem;
        padding-bottom:1rem;
        font-weight:700;
        padding-left:4%;
        color:$secondary-color

    }
    .Totla-price{
        padding-right: 3%;
    }
    .sub-price{
        padding-right: 3%;
    }
}

.delivered-date{
    border: 1px solid  $secondary-color;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    color:$secondary-color

}
.proceed-btn{
    width: 100%;
    background-color:$main-color;
    font-weight: 400;
    color:$secondary-color;
}
.proceed-btn:hover{
    background-color:$secondary-color;
    color:white;

}
.CONTINUE-btn{
    border: 1.4px solid  $secondary-color;
    width: 100%;
    color:$secondary-color

}
.CONTINUE-btn:hover{
    border: 1.4px solid  $secondary-color;

}

.Remove-btn{
    width: 100%;
    font-weight: 500;
    text-decoration: underline;
}
.increase-quan{
    background-color:$secondary-color;

}
.span-count{
    background-color:white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;


    
}
.d{
    // width: 200rem;
    // background-color:wheat;
    // width: 100%;
    // height: 100vh;
    // padding-left: 20%;
}
.decrease-quan{
    // background-color:$main-color;
    font-size: 100%;
}
.cart{
    height: 40vh;
}
.delete-cart{
    margin-left: 34%;
    color:$main-color;
    font-size:120%;
}