
 #navbarScrollingDropdown:hover {
    color: #f6b0ab;
}

li{
    margin-right: 13px;
}

#modal{
/* background-color: rgb(7, 7, 7);
opacity: .1; 
border: none; */
margin-top: 100px;

}

#modalinput{
height: 55px;
border: none;
width: 460px;
}
#modalinput:focus{
box-shadow: none;
border: none;
}
#modalbody{
    /* background-color: rgb(7, 7, 7);
    opacity: .3;
    border: none; */
    display: flex;
    padding: 0;
    width: 34rem;
}

#button-addon1{
    padding: 0;
    border: none;
    
}
#button-addon1 {
    min-width: 1rem;
}

#button-addon1:hover{
    background-color: white;
    min-width: 1rem;

}


#item{
    display: inline-block;
    width: 25%;
}






































