




.filtering-sidebar {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: .7rem;
    margin-bottom: 1rem;
}

.btn.focus, .btn:focus, .form-control:focus, button, button:focus {
    outline: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.filtering-sidebar .filtering__widget {
    margin-bottom: 1rem;
}
.filtering-sidebar .filtering__widget .filtering__widget-title {
    border-bottom: 1px solid rgba(111,60,46,.6);
}
.filtering-sidebar .filtering__widget .filtering__widget-title h5 {
    color: #43464b;
    font-size: 1.1rem;
    margin-bottom: .7rem;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.filtering-sidebar .filtering__widget .clear__filter {
    font-size: .9rem;
    color: #0b90b9;
}
.btn.focus, .btn:focus, .form-control:focus, button, button:focus {
    outline: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.filtering-sidebar .filtering__widget .filtering__panel .form-group {
    margin-bottom: .5rem;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}
.filtering-sidebar .filtering__widget .filtering__panel .form-group .form-control {
    height: 35px;
    color: #3e403f;
    border-color: #707070;
}

.form-control {
    position: relative;
    background: #f3f3f3;
    z-index: 1;
    color: #514f4f;
    height: 35px;
    border: 1px solid transparent;
    padding: 0 .5rem;
    font-size: .8rem;
    border-radius: 4px;
}
.filtering-sidebar-scroll {
    overflow-y: auto;
    max-height: 14rem;
}
.filtering-sidebar .filtering__widget .filtering__panel .form-group {
    margin-bottom: .5rem;
}
.custom-control {
    padding-right: 1.5rem!important;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.custom-control-input, .custom-control-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-group label {
    min-height: 1rem;
}
.custom-control-input, .custom-control-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
label {
    font-size: .82rem;
    color: var(--black);
}

.filtering-sidebar .filtering__widget .filtering__panel .form-group {
    margin-bottom: .5rem;
}

.custom-control {
    padding-right: 1.5rem!important;
}
.form-group {
    position: relative;
    margin-bottom: 1rem;
}
label {
    font-size: .82rem;
    color: var(--black);
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.filtering-sidebar .filtering__widget .filtering__widget-title {
    border-bottom: 1px solid rgba(111,60,46,.6);
}
#slider-range {
    background-color: rgba(34,34,34,.06);
    border-radius: 0;
    height: 4px;
    margin-bottom: 18px;
    border: none;
}

.filtering__widget .ui-slider {
    background-color: rgba(34,34,34,.06);
    border-radius: 0;
    height: 4px;
    margin-bottom: 18px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget.ui-widget-content {
    border: none;
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.ui-slider {
    position: relative;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.filtering__widget .ui-slider-range {
    width: 100%;
    height: 4px!important;
    background-color: #e9c6c3;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-widget-header {
    background-image: none !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold;
}
.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    border: 1px solid #c5c5c5;
    background: #6f3c2e;
    font-weight: 400;
    color: #454545;
}

.filtering__widget .ui-slider-handle {
    top: 50%!important;
    transform: translateY(-50%);
    background: #6f3c2e;
    z-index: 2!important;
    width: 11px!important;
    height: 11px!important;
    border-radius: 50%!important;
    top: 1px!important;
    position: absolute!important;
    border: 2px solid #707070!important;
    outline: none!important;
}
.ui-slider-horizontal .ui-slider-handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #707070;
    background-color: var(--secondary-color);
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget.ui-widget-content {
    border: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
*, :after, :before {
    box-sizing: border-box;
}
.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.filtering-sidebar .btn {
    min-width: 90px;
    height: 40px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0;
}
.btn {
    text-transform: capitalize;
    position: relative;
    font-size: .9rem;
    min-width: 10rem;
    line-height: 38px;
    border-radius: 4px;
    text-align: center;
    padding: 0 .7rem;
    letter-spacing: .4px;
    transition: all .3s ease-in-out;
}
.btn.focus, .btn:focus, .form-control:focus, button, button:focus {
    outline: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}



















































/*  

 <aside className="filtering-sidebar container " controller="List" >
 <button type="button" id="closeMobileFilter" className="d-block d-lg-none">×</button>
 <div className="filtering__widget">
     <div data-toggle="collapse" href="#catCollapse" role="button" aria-expanded="false" aria-controls="catCollapse"
         className="filtering__widget-title mb-3 d-flex justify-content-between">
         <h5>القسم</h5>
         <i>{AiOutlineDown}</i>
     </div>
     <div id="catCollapse" className="filtering__panel collapse show" >
         <div className="form-group mb-3">
             <input type="text" placeholder="بحث" className="form-control" />
         </div>
         <div className="filtering-sidebar-scroll"><div className="form-group custom-control custom-checkbox">
             <input type="checkbox" id="chkCat27" className="custom-control-input" value="27" />
             <label htmlFor="chkCat27" className="custom-control-label">مخبوزات</label>
         </div>
             <div className="form-group custom-control custom-checkbox">
                 <input type="checkbox" id="chkCat36" className="custom-control-input" value="36" />
                 <label htmlFor="chkCat36" className="custom-control-label">مشروبات</label>
                 <div className="sub-list pl-2">
                     <div className="form-group custom-control custom-checkbox">
                         <input type="checkbox" id="chkChildCat37" className="custom-control-input" value="37" />
                         <label htmlFor="chkChildCat37" className="custom-control-label">مشروبات ساخنة</label>
                     </div>
                     <div className="form-group custom-control custom-checkbox">
                         <input type="checkbox" id="chkChildCat38" className="custom-control-input" value="38" />
                         <label htmlFor="chkChildCat38" className="custom-control-label">مشروبات باردة</label>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <button type="button  " className="clear__filter">مسح الكل</button>
     <div className="filtering__widget">
         <div data-bs-toggle="collapse" href="#brandCollapse" role="button  " aria-expanded="false" aria-controls="brandCollapse"
             className="filtering__widget-title mb-3 d-flex justify-content-between">
             <h5>الحجم</h5>
             <i>{AiOutlineDown}</i>
         </div>
         <div id="brandCollapse" className="filtering__panel collapse show">
             <div className="form-group mb-3">
                 <input type="text" placeholder="بحث" className="form-control" /></div>
             <div className="filtering-sidebar-scroll"><div className="form-group custom-control custom-checkbox">
                 <input type="checkbox" id="chkSize142" className="custom-control-input" value="142" />
                 <label htmlFor="chkSize142" className="custom-control-label">Default</label>
             </div>
             </div>
         </div>
         <button type="button  " className="clear__filter">مسح الكل</button  >
     </div>
     <div className="filtering__widget">
         <div data-bs-toggle="collapse" href="#priceCollapse" role="button  " aria-expanded="false" aria-controls="priceCollapse"
             className="filtering__widget-title mb-3 d-flex justify-content-between">
             <h5>السعر</h5>
             <i>{AiOutlineDown}</i>
         </div>
         <div id="priceCollapse" className="filtering__panel collapse show">
             <div fragment="1d989c3d8c" id="slider-range" className="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                 <div className="ui-slider-range ui-corner-all ui-widget-header" style={{ left: "0%", width: "100%" }}>
                 </div>
                 <span tabIndex="0" className="ui-slider-handle ui-corner-all ui-state-default" style={{ left: "0%" }}></span>
                 <span tabIndex="0" className="ui-slider-handle ui-corner-all ui-state-default" style={{ left: "100%" }}></span>
             </div>
             <div fragment="1d989c3d8c" className="slider-result"><span id="minrangeSliderResult">10 ج.م</span>
                 <span id="maxrangeSliderResult">48 ج.م</span>
             </div>
         </div>
     </div>
     <div className="d-flex justify-content-between pt-2">
         <button type="button  " className="btn btn-dark">مسح</button  >
         <button type="button  " className="btn btn-dark">بحث</button  >
     </div>
 </div>
</aside> */