body {
  font-family: Cairo,sans-serif;
}





h2{
  color:#6f3c2e;
  font-family: Cairo,sans-serif;
    background-color: #fff;
}


.button-Quantity:hover{
  /* font-size: ' 30px'; */

  background-color:#F6B0AB;
  color: #FAFCFF;
}
.button-prod{
  background-color: #79493c;
  color: #fff;
 }
.button-prod:hover{
  background-color:#F6B0AB;
  color: #FAFCFF;
}


/* //////////////////// */
.button-prod2{
  background-color: #F6B0AB;
  color: #FAFCFF;
 }
.button-prod2:hover{
  background-color:#6F3C2E;
  color: #FAFCFF;
}


.card_btn {
  background-color: white;
  color: #79493c;
   width: 40px;
  height:40px;
  padding: 2px;
  border-radius: 50% ;
  margin: 6.5px;

  border: 0px solid #ffffff;
  box-shadow: 1px 3px 5px #888888;

}
* {box-sizing:border-box}

.card_btn:hover{
  background-color:#79493c;
   
  color: white;


}

.propsName{
  color:#79493c;
  font-size: .9rem;
  white-space: nowrap;
   display: block;
   overflow-x: hidden;


}
.card-prise{
  color:#79493c;
  font-family: Cairo,sans-serif;
  /* font-size:20px; */
  margin-bottom:30px
  

}
.propsName:hover{
  color: #F7B0AE;

}



/* ///////////////////////////////////////////////////////////////////// */
.containerSlide {
  width: 650px;
  margin: auto;
  padding-top: 200px;
}

.containerSlide img {
  height: 500px;

}

/* 
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.inputQuantity {
  border: solid 2px;
  color: #777;
  height: 2rem;
  padding: 0.5rem;
  width: 4rem;
}
.inputQuantity[type=number]::-webkit-inner-spin-button,
.inputQuantity[type=number]::-moz-inner-spin-button {
  -webkit-appearance: none;
}
.buttonQuantity {
  background-color: #6F3C2E;
  border: solid 2px #6F3C2E;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  line-height: 2;
  margin: 2px;
  padding: 0;
  width: 2rem;
}
.inputQuantity:focus,
.buttonQuantity:hover
{
  background-color: #F6B0AB;
  border: solid 2px #F6B0AB;
  color: #000;
}/* .buttonQuantity:focus */

.buttonQuantity:disabled {
  
  background-color: #6C757D;
  border: solid 2px #6C757D;


}